@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
.navbar li{
    display: inline;
    font-size: xx-large;
    padding-top: 300px;
    padding-right: 100px;
    border-bottom-style: solid;
}

p.logo{
    display: inline-block;
    text-align:end;
    font-family: 'Oleo Script', cursive;
    font-size:xx-large;
    padding:0px;
    margin-top:0px;
    border-bottom-right-radius: 10px;
}

.btn{
    border-radius: 40px;
    border: 0;
    font-weight: 600;
    margin:1rem 0;
    padding:2rem 3rem;
    background-color:#0F298B;
    

     
}
h1{
    
    padding-left:50px;
    color: #0F298B;
}

body{
    font-family: Space Grotesk;
    font-size: x-large;
}

#button{
    padding: 0px;
    border-radius:0px;
    border-style: solid;
    border-color: blue;
    box-sizing: content-box;
}


h3{
    color: blue;
    text-align: center;
}
#intro{
    text-align: center;
}

#how{
    text-align: center;

}

.image1{
    display:flex;
    align-items: center;
}
#our-products{
    display:inline
}