@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
.navbar li{
    display: inline;
    font-size: xx-large;
    padding: 20px;
    padding-top: 300px;
    padding-right: 100px;
    border-bottom-style: solid;
}

p.logo{
    display: inline-block;
    text-align:end;
    font-family: 'Oleo Script', cursive;
    font-size:xx-large;
    padding:0px;
    margin-top:0px;
    border-bottom-right-radius: 10px;
}

.btn{
    border-radius: 8px;
    border: 0;
    font-weight: 400;
    margin:1rem 0;
    padding:10px;
    background-color:#0F298B;
    background-size: contain;
    color:white;    
}
h1{
    
    padding-left:50px;
    color: #0F298B;
}

body{
    font-family: Space Grotesk;
    font-size: x-large;
}

p.content{
    text-align: center;
}

h3{
    color: #2549D3;
    text-align: center;
}
#intro{
    text-align: center;
}

#how{
    text-align: center;

}
.image1{
    display:flex;
    align-items: center;
    text-size-adjust: 200;
}
.search{
    display: flexbox;
    text-align: right;
    border-radius: 30px;

}
ul.search{
    display:flex;
    text-align: center;
    padding-left: 500px;
}
#our-products{
    display:flex;
    text-align: center;
    margin-left: 100px;
    padding: 150px;
    align-items: baseline;
}

#view-more{
    display:inline-block
}

ul{
    list-style-type: none;
}

ul.qualities{
    text-align: right; 
}
.menu li{
    display:inline
}
.footer{
    color:#FAFAFA;
    background-color: #0F298B;
    text-decoration:none;
}
.footer-list{
    display:inline-flex;
    text-align:center;
    text-decoration: none;
    padding:100px;
    margin-left: 150px;

}
.menu{
    display:flex;
    text-align: center;
    padding: 20px;
    margin-left: 50px;
    letter-spacing: 1px;
}
.links{
    color:#FAFAFA;
}